.search-wp {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.search-input {
    border: 2px solid #d8d8d8;
    border-right: none;
    outline: none;
    padding: 10px 20px;
    width: 500px;

    &:focus {
        border-color: #e74c3c;
        caret-color: #e74c3c;
    }
}

.search-submit {
    outline: none;
    border-color: transparent;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #e74c3c;
    color: #fff;
    font-weight: 600;
}
