.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.group {
    + .group {
        margin-top: 24px;
    }
}

.label {
    display: block;
    font-weight: 500;
    margin-bottom: 6px;
}

.input {
    border: 1px solid #d8d8d8;
    padding: 10px 12px;
    border-radius: 4px;
    font-size: 15px;
    width: 240px;
    outline: none;
}

.submit {
    border: none;
    outline: none;
    padding: 8px 24px;
    background-color: #04aa6d;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
